<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="static/home.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>
  <body>
    {% include 'navbar.html' %}
    <h1>Hello, world!</h1>
    <br>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for msg in messages %}
        <p>{{ msg }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}



        <div class="container">

          <h1>This is {{company_name}}'s Home Page</h1>
          <img class="img-fluid" id="banner" src = "static/banner.jpeg" height="320">
          <br>
          <br>
          <p> Here you will have a selection of exercises to choose from.  Each of 
            them are fitted with an AI program to help you on your exercising journey.
          </p>
          <br>
          <h2>Choose Your Excercise Type</h2>
          <br>

          <div class="scrolling-wrapper">
            <div class="card text-bg-secondary border-info w-20 mb-3" style="width: 22rem; margin-left: 20px;">
              <div class="card-body">
                <h5 class="card-title">Jumping-Jacks</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">Description</h6>
                <p class="card-text">Description Details</p>
                <a href="{{ url_for('user') }}" class="btn btn-primary">Start Program</a>
              </div>
            </div>

          </div>



          <br>
          <p>Need help?</p>
          <button class="btn btn-primary">Help</button>
      </div>
      <br>




    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>