<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link href="static/register.css" rel="stylesheet">

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Sign up</title>
</head>
<body>
    {% include 'navbar.html' %}
<br>
    {% include 'register_form.html' %}

    <br>

<div class="mx-auto p-2" style="width: 300px;">
    <a class="btn btn-outline-warning" data-bs-toggle="button" href="{{ url_for('login') }}" role="button">Already have an account? Sign in</a>
</div>


</body>
</html>